
<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <!-- floatLabel="naver"-->
  <mat-form-field class="search-form-field">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<!-- <div class="mat-elevation-z8"> -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  No. </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
      
         <!-- CreatedBy Column -->
         <ng-container matColumnDef="createdby">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
        </ng-container>
         <!-- CreatedOn Column -->
         <ng-container matColumnDef="createdon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedOn}} </td>
        </ng-container>
         <!-- UpdatedBy Column -->
         <ng-container matColumnDef="updatedby">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
          <td mat-cell *matCellDef="let element"> {{element.UpdatedBy}} </td>
        </ng-container>
         <!-- UpdatedOn Column -->
         <ng-container matColumnDef="updatedon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated On </th>
          <td mat-cell *matCellDef="let element"> {{element.UpdatedOn}} </td>
        </ng-container>
         <!-- IsActive Column -->
         <ng-container matColumnDef="isactive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.IsActive}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
            </td>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colsspan="7">
              Loading data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colsspan="7">
              No data...
            </mat-footer-cell>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':ELEMENT_DATA!==null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide':!(ELEMENT_DATA!==null && ELEMENT_DATA.length===0)}"></mat-footer-row>
      </table>
      <mat-paginator 
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
      showFirstLastButtons
      (page)="pageEvent = $event"
      >
      </mat-paginator>
<!-- </div> -->