
    <mat-toolbar class="mtl">
        <span>{{cityService.form.controls['id'].value? "Modify Existing Data": "New Entry Form"}}</span>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose('')" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>

<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="cityService.form" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <div class="controles-container">
            <input type="hidden" formControlName="id" >
            <mat-form-field>
              <input formControlName="name" matInput placeholder="City Name" name="name" >
            </mat-form-field>
            
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="cityService.form.invalid"><span>{{cityService.form.get('id').value === null ?"Save":"Update"}}</span></button>
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
